.word-container {
    background-color: transparent;
    display: grid;
}

.name{
    font-size: 100px;
    color:#FFFFE0;
    background: -webkit-linear-gradient(#eee, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 10px 10px 10px rgba(100,100,100,100);
  
    display: block;
    position: relative;
  }
  

.desc, .hello, .italic-boom  {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    margin-top: 3%;
    color: #eee;
    max-width: 50%;
    background-color: transparent;
    text-align: center;
}

.hello{
    font-size: 25px;
    margin-top: 200px;
}

.italic-boom {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-size: 35px;
}
