* {
 margin: auto;
 font-family: 'Source Code Pro', monospace;
 background-color: #000;
 padding: 0;
 z-index: 3;
}
.container {
  display: flex;
  flex-direction: column;
}
.nav-wrapper {
  display: flex;
  top:0;
  width: 100%;
  justify-content: space-between;
  font-size: xx-large;
  color:#eee;
}

.moon {
    position: relative;
    display: block;
    margin: 1rem;
    width: 5vh;
    height: 5vh;
    box-shadow: inset -12px 5px 3px 3px lightgrey,0 0 0px white;
    border-radius: 50%;
    transform: rotate(65deg);
    border: none;
    cursor: pointer;
    z-index: 4;
}

.contact {
  margin: 0 1vh 0 0;
  z-index: 4;
}

.burger {
  margin: 0 0 0 1vh;
  z-index: 4;
}

.contact-burger-holder {
  display: flex;
  justify-content: space-around;
  z-index: 4;
}

.my-name-wrapper {
  font-size: 20px;
}