.contact {
    margin: auto;
    margin-right: 10px;
}

.top { 
    height: 0;
    width: 0;
    border-radius: 3px;
    border-left: 15px solid antiquewhite;
    border-right: 15px solid antiquewhite;
    border-bottom: 6px solid antiquewhite;
    border-top: 15px solid #303030;
    cursor: pointer;
}

.letter {
    display: none;
}


.top:hover {
    .letter {
        height: 40px;
        width: 40px;
        background-color: wheat;
        border-radius: 3px;
    }
    
    .line {
        padding-top: 1px;
        margin-top: 5px;
        height: 1px;
        width: 37px;
        border-radius: 3px;
        background-color: lightgray;
        border: 2px color black;
    }
    
    .blank { 
        background-color: wheat;
    }
}


