.contact-container {
    background-color: transparent;
    font-family: 'Source Code Pro', monospace;
    display: grid;
}

.title {
    position: relative;
    border: 2px;
    padding: 100px;
    color: antiquewhite;
    background-color: transparent;
    font-size: xx-large;
}

.meat {
    position: relative;
    background-color: transparent;
    color: antiquewhite;
    max-width: 500px;
}

.stars .clouds .twinkling {
    z-index: 0;
}

.my-info {
    margin-top: 50px;
    display: grid;
    background-color: transparent;
    max-width: 500px;
    color: antiquewhite;
}

.email-link {
    color: antiquewhite;
    text-decoration: none;
    position: relative;
}
